<div class="link-tool">
  <a class="link-tool__content"
     target="_blank"
     rel="nofollow noindex noreferrer"
     href="{{ link }}">
    <div class="link-tool__image" style="background-image: url('{{ meta.image.url }}')"></div>
    <div class="link-tool__title">{{ meta.title }}</div>
    <p class="link-tool__description">{{ meta.description }}</p><span
      class="link-tool__anchor">{{ link }}</span>
  </a>
</div>
